.splash {
	/* background: url("../images/ocean.jpg") no-repeat center center */
	background-color: #D4DEE7;
}
.page-content {
	padding-top: 50px;
	width: 960px;
	margin: 0 auto;
}
.about-logo {
	position: relative;
	left: calc(50% - 250px);
}
.about-text p {
	padding: 25px 0;
	font-family: 'raleway', sans-serif;
	font-size: 20px;
	line-height: 25px;
}
.editors {
	margin: 0 auto;
}
.founding-editors {
	width: 250px;
	float: right;
}
.curent-editors {
	width: 700px;
	float: left;
}
#editor-display {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.editor {
	margin: 0 25px 25px 0;
	width: 150px;
}
.editor img {
	width: 150px;
}
.editor h4 {
	margin: 0;
}
