.splash {
  /* background: url("../images/masthead.jpg") no-repeat center center; */
  background-color: #e1aa77;
}

.page-content {
  padding-top: 15px;
  margin: 0 auto;
}

.page-content p {
  padding: 0;
  font-family: 'raleway', sans-serif;
}

.page-content a {
  color: black;
}

.page-content h3 a {
  text-decoration: none;
}

.art-title {
  font-size: 1.25em;
  text-transform: uppercase;
  margin: 0;
}

.art-image {
  width: 100%;
}
